* {
  box-sizing: border-box;
}

body {
  margin: ;
  padding: 1em;
  font-family: sans-serif;
}

.page-header {
  background-color: #ccc;
}

.page-header__inner {
  max-width: 990px;
  margin: auto;
  padding: 1em;
}


.promo {
  background-color: #ff0;
}

.promo__inner {
  max-width: 990px;
  margin: auto;
  padding: 1em 3em;
}

.news_item__button {
  background-color: green;
  width: 30px;
  height: 5px;
}

.page-footer {
  background-color: #ccc;
}

.page-footer__inner {
  max-width: 990px;
  margin: auto;
  padding: 1em;
}
