* {
  box-sizing: border-box;
}

body {
  margin: ;
  padding: 1em;
  font-family: sans-serif;
}

.page-header {
  background-color: #ccc;
}

.page-header__inner {
  max-width: 990px;
  margin: auto;
  padding: 1em;
}


.promo {
  background-color: #fa6;
  font-size: 36px;
}

.promo__inner {
  max-width: 990px;
  margin: auto;
  padding: 1em 3em;
}


.page-footer {
  background-color: #ccc;
}

.news_item-test {
  background-color: #d90000;
}

.page-footer__inner {
  max-width: 990px;
  margin: auto;
  padding: 1em;
}

.fast-contacts a {
  text-decoration: none;
  color: red;
}

.logo {
  font-size: 36px;
  font-weight: bold;
}

.copyright {
  font-weight: 700;
  color: #0f0;
}
